main{
    width: 120px;
    height: 100px;
    background-color: aqua;
    margin: 0;
 
}
header,footer{
    width: 100px;
    height: 80px;
}

nav{
    width: 80px;
    height: 60px;

}

section{
    height: 200px;
    display: flex;
    flex-direction: row;
}