.container{
display:flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
background: rgb(33,222,255);
padding: 20px;
border-radius: 10px;


}

.item{
    width: 300px;
    height: 300px;
    background: red;
    padding: 20px,40px;
    color:white;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}